<footer class="pysch-bar flex  justify-center items-center space-x-3 p-4 text-white z-10 mt-16">
    <p>© Dillon Kelley 2021</p>
    {# <a class="hover-state" href="https://github.com/digthedill" target="_blank"><i class="fab fa-github text-2xl text-white"></i></a> #}
    {# <img class="p-2" src="https://res.cloudinary.com/dilldog-industries/image/upload/w_160/v1615419813/dills-corner/Dillon_Kelley_n5lvxg.png" alt="dk-full-logo" /> #}
    {# <a class="hover-state" href="https://www.linkedin.com/in/dillonkelley-pro/" target="_blank"><i class="fab fa-linkedin-in text-2xl text-white"></i></a> #}
</footer>