<nav
      class="flex items-center justify-between flex-wrap p-6 fixed w-full z-10 top-0"
      x-data="{ 
        isOpen: false,
         }"
      @keydown.escape="isOpen = false"
      :class="{ 'shadow-lg bg-green-light' : isOpen , 'bg-white' : !isOpen}"
      :aria-expanded="isOpen"
    >
  <!--Logo etc-->
  <div class="flex items-center flex-shrink-0 text-white mr-6">
    <a
          class="text-black no-underline hover:text-blue "
          href="/"
        >
      <div class="pl-2 w-16">
        <img class="hover:bg-blue rounded" src="https://res.cloudinary.com/dilldog-industries/image/upload/w_100/v1615325563/dills-corner/DK_b08umu.png" alt="dk-logo"/>
      </div>
    </a>
  </div>

  <!--Toggle button (hidden on large screens)-->
  <button
        @click="isOpen = !isOpen"
        type="button"
        class="block lg:hidden px-2 text-gray-darkest hover:text-blue-dark focus:outline-none focus:text-green-dark"
        :class="{ 'transition transform-180': isOpen }"
        :aria-expanded="isOpen"
        aria-controls="nav-list"
      >
    <svg
          class="h-6 w-6 fill-current"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 24 24"
        >
      <path
            x-show="isOpen"
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M18.278 16.864a1 1 0 0 1-1.414 1.414l-4.829-4.828-4.828 4.828a1 1 0 0 1-1.414-1.414l4.828-4.829-4.828-4.828a1 1 0 0 1 1.414-1.414l4.829 4.828 4.828-4.828a1 1 0 1 1 1.414 1.414l-4.828 4.829 4.828 4.828z"
/>
      <path
            x-show="!isOpen"
            fill-rule="evenodd"
            d="M4 5h16a1 1 0 0 1 0 2H4a1 1 0 1 1 0-2zm0 6h16a1 1 0 0 1 0 2H4a1 1 0 0 1 0-2zm0 6h16a1 1 0 0 1 0 2H4a1 1 0 0 1 0-2z"
/>
    </svg>
  </button>

  <!--Menu-->
  <div
        class="w-full flex-grow lg:flex lg:items-center lg:w-auto"
        :class="{ 'block shadow-3xl text-center': isOpen, 'hidden': !isOpen }"
        @click.away="isOpen = false"
        x-show.transition="true"
      >
    <ul
          class="pt-6 lg:pt-0 list-reset lg:flex justify-end flex-1 items-start"
        >
      <li class="mr-3">
        <a
              class="inline-block text-gray-darkest hover-state lg:mx-4 w-full p-4 lg:p-1 lg:w-3/4 text-2xl lg:text-xl"
              :class="{ 'text-center my-4': isOpen, '': !isOpen }"
              href="/projects"
              @click="isOpen = false"
              >Projects
            </a>
      </li>
      <li class="mr-3">
        <a
              class="inline-block text-gray-darkest hover-state lg:mx-4 w-full p-4 lg:p-1 lg:w-3/4 text-2xl lg:text-xl"
              :class="{ 'text-center my-4': isOpen, '': !isOpen }"
              href="/about"
              @click="isOpen = false"
              >About
            </a>
      </li>
      <li class="mr-3">
        <a
              class="inline-block text-gray-darkest hover-state lg:mx-4 w-full p-4 lg:p-1 lg:w-3/4 text-2xl lg:text-xl"
              :class="{ 'text-center my-4': isOpen, '': !isOpen }"
              href="/contact"
              @click="isOpen = false"
              >Contact
            </a>
      </li>

    </ul>
  </div>

</nav>