---
layout: default.njk
---

<article class="flex flex-col items-center markdown mb-20">
    <div class="max-w-screen-md">
        <br><br>
        <div class="flex justify-end">
            <a class="px-4 py-2 bg-blue-light rounded-full btn" href="/projects">Back to Projects</a>
        </div>
        <br>
        {{content | safe}}
    </div>
</article>