---
title: DK | Contact
layout: default.njk
---


{% block content %}

{# similar layout to main page #}
{# have a point of interest in a grid like patern and collapse for mobile #}


<div class="flex flex-col md:flex-row items-center md:items-start justify-center mt-8 space-x-28">

    <div class="w-3/4 md:w-2/5 lg:w-1/2 mb-8 text-right w-3/4">
        <h1>Contact</h1>
        <p>Use my social platforms, if you prefer</a>
    </div>

    <div class="w-full lg:w-3/5 md:max-h-screen">
        <form action="https://getform.io/f/a5079c7a-ac05-4792-8bd7-15f0741cca4c" method="POST" 
            class="flex flex-col space-y-16 align-center w-3/4"
        >
            <input class="contact" type="text" name="name" placeholder="Full Name" required>
            <input class="contact" type="email" name="email" placeholder="coolguy@example.com" required>
            <textarea class="resize-none h-44 border border-gray-600 p-4" type="text" name="message" placeholder="Love your work, lets collab!" required></textarea>
            <button type="submit" class="py-4 hover-state">Send</button>
        </form>
    </div>

</div>


{% endblock %}