---
title: DK | Fullstack
layout: default.njk
---



{% block content %}
  <div class="fixed inset-0 flex justify-center items-center">


    <div class="flex flex-wrap justify-center">
      <div class="w-8/12 sm:w-4/12 md:w-3/12 px-4 rounded">
        <img src="https://res.cloudinary.com/dilldog-industries/image/upload/w_600,ar_1:1,c_fill,g_auto/v1608144816/dills-corner/dillon-ice-cream_x2ikbd.jpg" 
             class="shadow rounded-full sm:max-w-full h-auto align-middle border-none"
        />
      </div>
      <div class="clear-right text-2xl p-4 font-display max-w-lg">
        <h1 class="text-3xl font-bold">I'm Dillon.</h1>
        <h2 class="text-bold">Fullstack Javascript Dev based out of <span class="underline">Chicago</span>.</h2>
        <h2>Freelance and side <a href="/projects" class="text-blue-500 hover:bg-yellow-200 font-bold">projects</a> coded with modern JS practices.
        <h2><a href="/contact" class="text-blue-500 hover:bg-yellow-200 font-bold">Hire me</a> for your next project.</h2>
      </div>
    </div>


    
  </div>
{% endblock %}