---
layout: default.njk
---

<article class="flex flex-col items-center markdown mb-20">
    <div class="max-w-screen-md">
    <a class=" hover-state" href="/projects">Back to Projects</a>
        {{content | safe}}
    </div>
</article>
