---
layout: default.njk
---

<article class="flex flex-col items-center markdown mb-20">
    <div class="max-w-screen-md">
    <br><br>
    <a class="my-8 px-4 py-2 bg-blue-800 text-white rounded-full hover-state" href="/projects">Back to Projects</a>
        {{content | safe}}
    </div>
</article>
