---
layout: default.njk
---

<article class="flex flex-col items-center align-center markdown">
    <div class="max-w-screen-md mb-8">
    <a class="mb-8 p-1 hover:bg-blue-200 " href="/projects">Back to Projects</a>
        {{content | safe}}
    </div>
</article>
