---
title: About
layout: default.njk
---

{% block content %}

    <div class="flex flex-col md:flex-row items-center md:items-start justify-center mt-8 md:space-x-28">

        <div class="w-full sm:w-3/4 md:w-2/5 lg:w-1/2 mb-8 md:text-right ">
            <h1 class="mb-2">About</h1>
            <p>Who really is he?</a>
        </div>

        <div class="w-full sm:w-3/4 md:max-h-screen pb-24">
            <img class="h-96 w-full object-cover mb-4 rounded" src="https://res.cloudinary.com/dilldog-industries/image/upload/v1615485061/dills-corner/dillon_-rocks_wo1dte.png" alt="rocker man"/>
            <h3 class="mb-4  font-bold">Self taught web developer</h3>
            <p> Coding in Javascript since April 2020.  I'm always learning something new. Currently, I'm interested in serverless functions and JAMStack sites. I work well with a team and value communication.</p>

            <h3 class="my-4 font-bold">Off screen</h3>
            <p>When I'm not coding I like: guitar, synths, jazz, pyschrock, tng, tennis, running, apex legends, and dogs.</p>
            <p class="mt-2">Check out my bands:</p>
            <ul class="list-disk">
                <li>
                    <a href="https://dcs77.bandcamp.com/" target="_blank" class="hover-state underline hover:no-underline">D C S</a>
                </li>
                <li>
                    <a href="https://wetpiss.bandcamp.com/" target="_blank" class="hover-state underline hover:no-underline">Wet Piss</a>
                </li>
            </div>

        </div>
    {% endblock %}