---
title: Projects
layout: default.njk
---

{% block content %}

    <div class="flex flex-col md:flex-row items-center md:items-start justify-center mt-8 md:space-x-28">

        <div class="w-full sm:w-3/4 md:w-2/5 lg:w-1/2 mb-8 md:text-right w-3/4">
            <h1 class="mb-2">Projects</h1>
            <p>For more work check out my <a class="hover-state px-2" href="https://github.com/digthedill" target="_blank">
                    <i class="fab fa-github text-xl"></i>
                </a>
            </div>

            <div class="w-full sm:w-3/4 lg:w-4/5 md:max-h-screen mb-44">
                {%- for project in collections.project -%}
                    <a href="/projects/{{project.data.slug}}">
                        <div class="flex flex-col md:flex-row mb-4 p-2 px-2 hover:opacity-70 space-x-2">
                            <div class="md:w-1/2">
                                <img class="w-full sm:w-3/4 md:w-full rounded-lg border border-blue-900 p-1"src="{{project.data.img}}"/>
                            </div>

                            <div class="md:w-1/2 mr-2">
                                <h4 class="font-bold">{{project.data.title}}</h4>
                                <div class="flex space-x-4 md:space-x-0 md:flex-col md:justify-start">
                                    {%- for stack in project.data.stack-%}
                                        <p>{{stack}}</p>
                                    {%- endfor -%}
                                </div>
                            </div>

                        </div>
                    </a>
                {%- endfor -%}

            </div>
        </div>

    {% endblock %}